// Globals
//Include Prxima nova Font

$global-font-size: 100%;
$global-font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
	'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
	'Droid Sans', sans-serif;
$temporary-font-family: 'Arial';
$roboto: 'Roboto', sans-serif;

// Body styles
$body-font-size: $global-font-size;
$body-font-color: color(BodyFontColor);

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-dense: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

//Font size
$font-size-regular: 16px;

//Font Styles
$font-style-normal: normal;

