@import '../../Assets/styles/shared-styles.scss';
.navWrapper {
    background-color: #0a1929 !important;
    color: color(White) !important;
    .links {
        text-transform: initial;
        letter-spacing: 0;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.75;
        text-decoration: none;
        color: rgb(102, 178, 255);
        font-weight: 700;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        margin: to-rem(8 12);
    }
    li {
        a {
            margin: 0;
            font-size: 1.125rem;
            line-height: 1.33333;
            letter-spacing: 0;
            font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            text-decoration: none;
            color: #66b2ff !important;
            font-weight: 700;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
        }
    }
}
.bg::before {
    background: #020928;
    bottom: 0;
    content: '';
    height: 82vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 9%;
    width: 100%;
    opacity: 0.7;
}

.bg {
    background-image: url('../../Assets/images/png/bg.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    // @include breakpoint-mini('m') {
    //     padding: 2rem;
    // }

    // .mobile {
    //     position: absolute;
    //     width: 80%;
    //     @include breakpoint('s') {
    //         position: absolute;
    //         width: 80%;
    //         background-color: color(DarkBlue);
    //         width: 100%;
    //         padding-top: 1rem;
    //         padding-bottom: 1rem;
    //         z-index: 4;
    //     }
    // }
    @import '../../Assets/styles/shared-styles.scss';
    .wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: color(White);

        @include breakpoint('s') {
            top: 45%;
        }

        h1 {
            font-size: to-rem(85);
            margin: 1.6rem;
            span {
                display: block;
                text-align: center;
                margin: 0.5rem;
            }
            @include breakpoint('s') {
                font-size: 2rem;
            }
        }
        p {
            text-align: center;
            font-size: to-rem(20);
            width: to-rem(850);
            line-height: 2.7rem;
            margin-bottom: 2rem;

            @include breakpoint('s') {
                width: 53%;
                font-size: 1rem;
            }
        }
        .buttonWrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 42rem;
            @include breakpoint('s') {
                flex-direction: column;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: to-rem(5);
                border-radius: to-rem(60);
                width: 20rem;
                height: 4rem;
                font-size: to-rem(20);
                cursor: pointer;
                @include breakpoint('s') {
                    margin: 1rem;
                    width: 14rem;
                    height: 3rem;
                }
            }
            button:first-child {
                background: color(Primary);
                color: color(White);
                border: 1px solid #4328b7;

            }
            button:last-child {
                background: color(White);
                color: color(Black);
                border: 1px solid white;

            }
            button:first-child:hover {
                background: color(PrimaryDark);
                border: 1px solid color(PrimaryDark);
                color: color(White);
            }
            button:last-child:hover {
                background: color(Primary);
                color: color(White);
                border: 1px solid color(Primary);
            }
        }
    }


}
.charts {
    width: 70%;
    margin: 4rem auto;
}
