@import '../../Assets/styles/shared-styles.scss';
.wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: color(White);

	h1 {
		font-size: to-rem(85);
		margin: 1.6rem;
		span {
			display: block;
			text-align: center;
			margin: 0.5rem;
		}
	}
	p {
		text-align: center;
		font-size: to-rem(20);
		width: to-rem(850);
		line-height: 2.7rem;
		margin-bottom: 2rem;
	}
	.buttonWrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 42rem;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: to-rem(5);
			border-radius: to-rem(60);
			width: 20rem;
			height: 4rem;
            font-size: to-rem(20);
		}
		button:first-child {
			background: color(Primary);
			color: color(White);
		}
		button:last-child {
			background: color(White);
			color: color(Black);
		}
		button:first-child::hover {
			background: color(PrimaryDark);
			color: color(White);
		}
		button:last-child::hover {
			background: color(Primary);
			color: color(White);
		}
	}
}
